body {
    background-image: url(/Images/defaultOp.png) !important;
    background-attachment: fixed;
    font-family: 'DIN 2014';
}


h1 {
    color: white;
    font-weight: bold;
    margin-top: 2%;
}

.artikelen {
    margin-bottom: 10%;
}

.artikel {
    border: solid 1px black;
    background-color: rgba(35, 35, 35, 1);
}

    .artikel:hover {
        border: solid 1px #ffe000;
    }


.Titel {
    height: 55%;
    overflow: hidden;
    position: relative;
}

    .Titel:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 2em;
        background: linear-gradient(to right, rgba(35, 35, 35, 0), rgba(35, 35, 35, 1) 90%);
    }


.info {
    height: 15%;
    margin-top: 0%;
}

.author {
    height: 10%;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    position: relative;
    height: 1.8em;
}

    .author:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 2em;
        background: linear-gradient(to right, rgba(35, 35, 35, 0), rgba(35, 35, 35, 1) 99%);
    }

.card-body h5 {
    color: white;
    overflow-wrap: break-word;
    font-weight: bold;
}

.card img {
    height: 300px;
}

@media (min-width: 1025px) {
    .card img {
        height: 350px;
    }
}

.beep a {
    text-decoration: none;
}

h3 {
    color: white;
    font-size: 100%;
}

.beep {
    padding-top: 5%;
    padding-bottom: 5%;
}

.noResultsDIV {
    min-height: 588px;
    min-width: 100%;
}

.noResultsDIV p{
    text-align: center;
    color: white;
}

.Search {
    margin-left: 70%;
}
