body {
    background-image: url(/Images/defaultOp.png) !important;
    background-attachment: fixed;
    font-family: 'DIN 2014';
}

.talks h5 {
    color: white;
}
.formulier h5{
    color:white;
}

@media (max-width: 768px) {
    .topButton {
        font-size: 75%;
        margin-top: 3%;
        height: 50px;
    }
}

.noResultsDIV {
    min-height: 588px;
    min-width: 100%;
}

    .noResultsDIV p {
        text-align: center;
        color: white;
    }

.topButton {
    font-size: 75%;
    margin-top: 3%;
    height: 50px;
}


.buttonTop {
    position: fixed;
    float: left;
    background-color: #ffe000;
    width: 10%;
    height: 50px;
    color: #232323;
    font-size: 150%;
    line-height: 30px;
    font-family: 'DIN 2014';
    font-weight: bold;
    bottom: 40px;
    left: 20px;
    z-index: 1;
    cursor: pointer;
    border: solid 1px #232323;
}

.buttonTop:hover {
    background-color: #232323;
    color: white;
    border: solid 1px #ffe000;
}
.buttonTop:hover p{
    color: white;
}

.talks {
    margin-top: 3.5%;
    margin-bottom: 30%;
}

.talk {
    background-color: #232323;
    display: block;
    color: white;
    border: solid 2px #ffe000;
    margin-top: 4%;
}
.talk h1 {
    margin-top: 1%;
    margin-right: 1%;
}

.talkMiddle {
    width: 100%;
    height: auto;
}

.talkDesc {
    margin-top: 1%;
    width: 60%;
    margin-left: 1.5%;
    margin-bottom: 1%;
}

.talkThumbnail {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 8%;
    width: 30%;
    height: auto;
    border: solid 1.5px #ffe000;
}

.talkBottom {
    width: 100%;
    height: auto;
}

.talkTribe {
    margin-top: 1%;
    width: 60%;
    margin-left: 1.5%;
    margin-bottom: 1%;
}

.btnAanvraag {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 8%;
    width: 30%;
    height: auto;
    border: solid 1.5px #ffe000;

    background-color: #232323;
    color: white;
    font-size: 125%;
    line-height: 30px;
    font-family: 'DIN 2014';
    font-weight: normal;
}

.btnAanvraag:hover {
    background-color: #ffe000;
    color: #232323;
    border: solid 1.5px white;
}


.formulier {
    border-top: solid 1.5px #ffe000;
    margin-bottom: 10px;
    margin-top: 15px;
}

.Search {
    border: solid 1px #ffe000 !important;
    border-radius: 5px;
    background-color: #232323;
    margin-left: 80%;
    margin-top: 2.5%;
    color: #ffe000;
    outline-color: #ffe000 !important;
}


input:not([type="button"]):not([type="submit"]):not([type="reset"]):hover, input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus, textarea:hover, textarea:focus, select:hover, select:focus 
{    
    border:2px solid #1b2a44;    
    outline:none;
}

.Search:focus {
    border: solid 1px #ffe000 !important;
    border-radius: 5px;
}


