@{
    ViewData["Title"] = "ArtikelPagina";
}

<link rel="stylesheet" href="~/css/_ArtikelPagina.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">

    <div id="WaitingForContent" style="display:normal;">
        <div class="container" style="width: 750px; height: 750px; margin: 0 auto;">


        </div>
    </div>

    <div class="container" id="partialPlaceHolder" style="display:none;">

    </div>

    <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
        <img src="~/Images/AjaxLoadingGif.gif" />
    </div>

</div>

@section Scripts
{
    <script src="~/js/InfinityScroll.js"></script>
}