
@{
    ViewData["Title"] = "ArtikelPagina";

    List<ArtikelModel> artikelen = new List<ArtikelModel>();
    ApiController api = new ApiController();
    await api.ArtikelPaginaAPI();
    artikelen = api.artikelen;
}

<link rel="stylesheet" href="~/css/_ArtikelPagina.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>ARTIKELEN</h1>
<body>
    <div class="bgImage" />
</body>

<div class="artikelen">

    @foreach (ArtikelModel artikel in artikelen)
    {
            string Imageurl = "https://localhost:6001" + artikel.thumbnail.url;
            string artikeltitle = artikel.title;
            if (artikel.status == 1)
            {
                <a asp-controller="Home" asp-action="Artikel" asp-route-title="@artikeltitle">
                    <div class="artikel">
                        <img src="@Imageurl" /> @*thumbnail*@
                        <div class="Titel">
                            <h2>@artikel.title.ToUpper()</h2> @*artikel.title*@
                        </div>
                        <div class="info">
                            <h3><i class="fa fa-pencil"></i>&nbsp; &nbsp;@artikel.author</h3>
                            <h3><i class="fa fa-calendar-o"></i>&nbsp; &nbsp;@artikel.createdDate.ToString("dd-MM-yyyy")</h3>@*artikel.author + artikel.createdDate*@
                        </div>
                    </div>
                </a>
        }
    }

</div>