@{
    ViewData["Title"] = "Artikel";
    List<ArtikelModel> artikelen = new List<ArtikelModel>();
    ApiController api = new ApiController();
    await api.ArtikelPaginaAPI();
    artikelen = api.artikelen;
    ArtikelModel artikel = new ArtikelModel();
    Console.WriteLine(ViewData["ID"].ToString());
    foreach (ArtikelModel ar in artikelen)
    {
        if (ar.Title.Equals(ViewData["ID"].ToString()))
        {
            artikel = ar;
        }
    }


}

<link rel="stylesheet" href="~/css/Artikel.css" />

@{string pdfurl = "https://localhost:6001/api/File/" + artikel.Attributes["pdf"] + "/retrieve"; }

@{ string Imageurl = "https://localhost:6001" + artikel.Thumbnail.RelativeUrl;}
@*back button, kut*@
<div>
    <a class="backButton" asp-controller="Home" asp-action="ArtikelPagina">BACK</a>
</div>
@*back button, kut*@
<div class="container">

    <div class="row artikelInfo">
        <div class="infoBorder">
            <div class="information">
                <div class="artikelTitle">
                    <h1>@artikel.Title</h1>
                </div>
                <h1><i class="fa fa-pencil"></i>&nbsp; &nbsp;@artikel.Author.Name</h1>
                <h1><i class="fa fa-calendar-o"></i>&nbsp; &nbsp;@artikel.CreatedAt.ToString("dd-MM-yyyy")</h1>
                <h1><i class="fa fa-users"></i>&nbsp; &nbsp;@artikel.Tribe.Title</h1><br />
                <a href="@pdfurl" download><h2>Download als PDF</h2></a>
            </div>
            <div class="thumbnail">
                <img src="@Imageurl" />
            </div>
            <div class="description">
                <p>
                    @artikel.Description
                </p>
            </div>
        </div>
        <embed class="pdfReader" src="@pdfurl#view=FitH&scrollbar=0&toolbar=0&statusbar=0&messages=0&navpanes=0" />
    </div>
</div>

