@model ArtikelModel

@{
    ViewData["Title"] = "Artikel";
    string content = ViewData["Content"].ToString();
    string pdfurl = ViewData["PdfUrl"].ToString();
    //List<ArtikelModel> artikelen = new List<ArtikelModel>();
    //ApiController api = new ApiController();
    //await api.ArtikelPaginaAPI();
    //artikelen = api.artikelen;
    //ArtikelModel artikel = new ArtikelModel();
    //Console.WriteLine(ViewData["ID"].ToString());
    //foreach (ArtikelModel ar in artikelen)
    //{
    //    if (ar.Title.Equals(ViewData["ID"].ToString()))
    //    {
    //        artikel = ar;
    //    }
    //}

}

<link rel="stylesheet" href="~/css/_Artikel.css" />
<div>
    <a class="backButton" asp-controller="Home" asp-action="ArtikelPagina">Terug</a>
</div>

@*@{string pdfurl = "https://localhost:6001/api/File/" + Model.Attributes["pdf"] +"/retrieve"; }*@

@{ string Imageurl = "https://localhost:6001" + Model.Thumbnail.RelativeUrl;}
<div class="container">
    <div class="row artikelInfo">
        <div class="infoBorder">
            <div class="information">
                <div class="artikelTitle">
                    <h1>@Model.Title</h1>
                </div>
                <h1><i class="fa fa-pencil"></i>&nbsp; &nbsp;@Model.Author.Name</h1>
                <h1><i class="fa fa-calendar-o"></i>&nbsp; &nbsp;@Model.CreatedAt.ToString("dd-MM-yyyy")</h1>
                <h1><i class="fa fa-users"></i>&nbsp; &nbsp;@Model.Tribe.Title</h1><br />
                @if (pdfurl != "")
                {
                <a href="@pdfurl" download><h2>Download als PDF</h2></a>
                }
            </div>
            <div class="thumbnail">
                <img src="@Imageurl" />
            </div>
            <div class="description">
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
        @if (pdfurl != "")
        {
        <embed class="pdfReader" src="@pdfurl#view=FitH&scrollbar=0&toolbar=0&statusbar=0&messages=0&navpanes=0" />
        }
    </div>
    <div class="container Content">
        @*@Html.Raw(content)*@
        <div>
            <h1>h1: my first heading</h1>
            <h2>h2: my first heading</h2>
            <h3>h3: My First Heading</h3>
            <h4>h4: My First Heading</h4>
            <h5>h5: My First Heading</h5>
            <h6>h6: My First Heading</h6>
        </div>
        <div>
            <p>p: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sollicitudin et lacus sed feugiat. In a mollis neque. Praesent nisl ex, ornare eu lobortis non, rhoncus vel arcu. Nam ornare, tortor id convallis tempor, nisl velit eleifend justo, in viverra neque orci non sem. Aenean et orci ac ante lacinia eleifend vitae eu est. Aenean non libero sed diam blandit iaculis. Suspendisse potenti. Suspendisse felis neque, malesuada eget lorem varius, bibendum dapibus justo. Fusce sit amet lacus rutrum, sodales nulla quis, ultrices massa. Etiam eu laoreet lorem, nec vehicula quam. Pellentesque consequat, nisi sit amet dignissim bibendum, purus lectus mollis nisi, eget varius purus nibh non metus. Sed tincidunt ullamcorper diam. Fusce blandit feugiat porta. </p>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/WYSIWYG.js" type="text/javascript">
        ////var content = '<%=content%>'
        ////document.write(content);
        //let span = document.querySelector("span");

        //let text = '<p>ghello</p>'

        //span.innerHTML = text;
    </script>
}

