@{
    ViewData["Title"] = "ArtikelPagina";

    List<ArtikelModel> artikelen = new List<ArtikelModel>();
    List<ArtikelModel> newartikelen = new List<ArtikelModel>();

    ApiController api = new ApiController();
    await api.ArtikelPaginaAPI();
    artikelen = api.artikelen;
}

<link rel="stylesheet" href="~/css/_ArtikelPagina.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@foreach (ArtikelModel artikel in artikelen)
{
    newartikelen.Add(artikel);
    if(ViewData["TRIBE"].ToString() != "allen")
    {
        if(artikel.Tribe.Title != ViewData["TRIBE"].ToString())
        {
            newartikelen.Remove(artikel);
        }
    }
}
<br>



<div class="container">
    
    <div class="row art">
        <input class="Search" onkeyup="filter()" type="text" id="value" placeholder="Zoek voor artikelen" />
        @foreach (ArtikelModel artikel in newartikelen)
        {
            string Imageurl = "https://localhost:6001" + artikel.Thumbnail.RelativeUrl;
            string artikeltitle = artikel.Title;

            if (artikel.Status == 1 && artikel.Type == 0 || artikel.Status == 0 && artikel.Type == 0)
            {
                <div class="col-md-12 col-lg-4 col-sm-3 fullArtikel">
                    <div class="beep">
                        <a asp-controller="Home" asp-action="Artikel" asp-route-title="@artikeltitle">
                            <div class="card h-100 artikel">
                                <img src=@Imageurl class="card-img-top" alt="...">
                                <div class="card-body info">
                                    <h5 class="card-title Titel text-uppercase name">@artikel.Title</h5>
                                    <h3 class="card-text author name2"><i class="fa fa-pencil"></i>&nbsp; &nbsp;@artikel.Author.Name</h3>
                                    <h3 class="card-text author"><i class="fa fa-users"></i>&nbsp; &nbsp;@artikel.Tribe.Title</h3>
                                    <h3 class="name3" style="display:none">@artikel.Description</h3>
                                </div>
                                <div class="card-footer">
                                    <h3><i class="fa fa-calendar-o"></i>&nbsp; &nbsp;@artikel.CreatedAt.ToString("dd-MM-yyyy")</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            }
        }
    </div>
    <div class="noResultsDIV" id="test" style="display: none;">
        <p>Geen resultaten gevonden</p>
    </div>
</div>

<script type="text/javascript">
    function filter() {
        var value, name, profile, i, name2, name3, weergave;
        value = document.getElementById("value").value.toUpperCase();
        profile = document.getElementsByClassName("fullArtikel");


        for (i = 0; i < profile.length; i++) {
            name = profile[i].getElementsByClassName("name");
            name2 = profile[i].getElementsByClassName("name2");
            name3 = profile[i].getElementsByClassName("name3");
            if (name[0].innerHTML.toUpperCase().indexOf(value) > -1 || name2[0].innerHTML.toUpperCase().indexOf(value) > -1 || name3[0].innerHTML.toUpperCase().indexOf(value) > -1) {
                profile[i].style.display = "block";
            }
            else {
                profile[i].style.display = "none";
            }

        }
        weergave = false;

        for (i = 0; i < profile.length; i++) {

            if (profile[i].style.display == "block") {
                weergave = true;
            } 
        }
        console.warn(weergave);

        if (weergave == false) {
            document.getElementById("test").style.display = "flex";
        } else {
            document.getElementById("test").style.display = "none";

        }

        
    }
   
</script>
