@{
    ViewData["Title"] = "OnDemand";
}
@model FormulierEnAanvraagModel;

<link rel="stylesheet" href="~/css/_OnDemand_.css" />
<link rle="stylesheet" href="https://use.fontawesome.com/release/v5.4.1/css/all.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="container">

    <div id="WaitingForContent" style="display:normal;">
        <div class="container" style="width: 750px; height: 750px; margin: 0 auto;">


        </div>
    </div>

    <div class="container" id="partialPlaceHolder" style="display:none;">

    </div>

    <div id="loadingdiv" style="text-align:center;display:none;margin-bottom:20px;">
        <img src="~/Images/AjaxLoadingGif.gif" />
    </div>

    <div class="topButton">
        <button type="button" class="btn-block buttonTop"><i class="fa fa-address-book fa-3x"></i></button>
        <div class="modal fade" id="addEvent" role="dialog" data-url="@Url.Action("TalkAanvraagPartial", "Home")"></div>
    </div>

</div>


@section Scripts
{
    <script src="~/js/InfinityScrollC.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.btn-block').click(function () {
                var url = $("#addEvent").data('url');
                $.get(url, function (data) {
                    $("#addEvent").html(data);
                    $("#addEvent").modal('show');
                })
            })
        })

    </script>
}

