@{
    ViewData["Title"] = "OnDemand";

    List<TalkModel> talks = new List<TalkModel>();
}

<link rel="stylesheet" href="~/css/_OnDemand.css" />

<body>
    <div class="topButton">
        <button class="btn btn-primary buttonTop">Talk Aanvragen</button>
    </div>

    <div class="talks">
        @*    @foreach (TalkModel talk in talks)
            {
                string thumbnailUrl = "https://localhost:6001/" + talk.thumbnail.url;

                if (talk.status == 1)
                {*@
        @for (int i = 0; i < 20; i++)
        {
        <div class="container talk">
            <h1>"TITEL"</h1>
            <div class="row talkMiddle">
                <p class="talkDesc">Description Hier</p>
                <img class="talkThumbnail" src="~/Images/defaultOp.png"/>
            </div>
            <div class="row talkBottom">
                <h2 class="talkTribe">"TRIBE"</h2>
                <button class="btn btn-primary btnAanvraag">Toegang Aanvragen</button>
            </div>

        </div>
        }
    </div>
</body>
