@{
    ViewData["Title"] = "Podcasts";

    List<PodcastModel> podcasts = new List<PodcastModel>();
    ApiController api = new ApiController();
    await api.PodcastAPI();
    podcasts = api.podcasts;
    string baseIP = "https://localhost:6001";
    int id = 1;
}
<link rel="stylesheet" href="~/css/_Podcasts.css" />

<body>
    <h1>Hier komen de mooiste podcasts die je ooit te horen krijgt</h1>

    @foreach (PodcastModel podcast in podcasts)
    {
        if (podcast.status == 1 && podcast.type == 2 || podcast.status == 0 && podcast.type == 2)
        {
            string profilePicture = baseIP + "/api/File/" + podcast.Author.ImageId + "/retrieve";
        <a asp-controller="Home" asp-action="Podcast" asp-route-title="@podcast.title">
            <div class="container podcast">
                <div class="row">
                    <img class="picture" src="@profilePicture" />
                    <div class="text">
                        <h2 class="number">PODCAST #@id</h2>
                        <h1 class="title">@podcast.title</h1>
                    </div>
                </div>
            </div>
        </a>
            id++;
        }
    }
</body>


