
@{
    ViewData["Title"] = "TribeOverzicht";
}
<link rel="stylesheet" href="~/css/TribeOverzicht.css" />

<div >


    <div class="justify-content-xl-between">
        <div class="row no-gutters TribeBox">
            <a class="col-xl TribeBox1 btn1 btn1-btn1" asp-controller="Home" asp-action="TribePagina" asp-route-title="Cloud_And_DEVOPS_Tribe" >
                <div>
                    <div class="ImageDiv"><img src="~/Images/cloud.png" class="image" /></div>
                    <p class="text">Cloud & DEVOPS Tribe</p>
                    <p class="omschrijving">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.

                        Etiam rhoncus.
                    </p>
                </div>
            </a>
            <a class="col-xl TribeBox2 btn2 btn2-btn2" asp-controller="Home" asp-action="TribePagina"asp-route-title="Microsoft_Tribe">
                <div>
                    <div class="ImageDiv">
                        <img src="~/Images/microsoft.png" class="image" />
                    </div>
                    <p class="text">Microsoft Tribe</p>
                    <p class="omschrijving">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.

                        Etiam rhoncus.
                    </p>
                </div>
            </a>
            <a class="col-xl TribeBox3 btn3 btn3-btn3" asp-controller="Home" asp-action="TribePagina"asp-route-title="JAVA_Tribe">
                <div>
                    <div class="ImageDiv">
                        <img src="~/Images/java-logo-1.png" class="image" />
                    </div>
                    <p class="text">JAVA Tribe</p>
                    <p class="omschrijving">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.

                        Etiam rhoncus.
                    </p>
                </div>
            </a>
            <a class="col-xl TribeBox4 btn4 btn4-btn4" asp-controller="Home" asp-action="TribePagina"asp-route-title="Automated_Testing_Tribe">
                <div>
                    <div class="ImageDiv">
                        <img src="~/Images/checklist_1.png" class="image" />
                    </div>
                    <p class="text">Automated Testing Tribe</p>
                    <p class="omschrijving">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.

                        Etiam rhoncus.
                    </p>
                </div>
            </a>
            <a class="col-xl TribeBox5 btn5 btn5-btn5" asp-controller="Home" asp-action="TribePagina" asp-route-title="Front-end_And_Mobile_Tribe">
                <div>
                    <div class="ImageDiv">
                        <img src="~/Images/front.png" class="image" />
                    </div>
                    <p class="text">Front-end & Mobile Tribe</p>
                    <p class="omschrijving">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.

                        Etiam rhoncus.
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>


